.trending-card {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  flex: 0 0 auto;
  margin-right: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
  }

  .card-rank {
    position: absolute;
    bottom: -20px;
    left: -10px;
    font-size: 100px;
    font-weight: 900;
    color: white;
    -webkit-text-stroke: 2px black;
    z-index: 10;
    pointer-events: none;
    line-height: 1;
  }
}
