.movie-card-wrapper {
    position: relative;
    width: 225px;
    height: 300px;
    overflow: visible !important;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    flex-shrink: 0;
    gap: .75rem;
    display: flex;
    flex-direction: column;

    .movie-card {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        .movie-thumbnail {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
            transition: transform 0.3s ease;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 8px;
        }
    }

    &:hover {
        .movie-thumbnail {
            transform: scale(1.05);
        }

        .movie-popup {
            visibility: visible;
            opacity: 1;
            transform: translateX(-30%) scale(1);
        }
    }

    .movie-popup {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        width: 350px;
        height: 350px;
        background: #1c1c1c;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 10;
        overflow: hidden;
        
        .popup-poster-wrapper {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .popup-poster {
                width: 100%;
                height: 200px;
                object-fit: cover;
                position: relative;
                z-index: 1;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 60px;
                margin-bottom: -5px;
                background: linear-gradient(to top, rgba(28, 28, 28, 1), rgba(28, 28, 28, 0));
            }
        }

        .popup-info {
            padding: 10px;
            color: #fff;
            text-align: left;

            h3 {
                font-size: 18px;
                margin-bottom: 8px;
            }

            .popup-buttons {
                display: inline-flex;
                gap: 10px;
                flex-wrap: wrap;
                justify-content: center;
                margin: 10px 0;
                align-items: center;
                width: fit-content;

                button {
                    padding: 5px 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: bold;
                    transition: 0.3s;

                    &:hover {
                        opacity: 0.8;
                    }

                    &.watch-btn {
                        background-color: #fc0a16;
                        color: black;
                    }

                    &.like,
                    &.info {
                        background-color: transparent;
                        border-color: white;
                        border: 2px solid #fff;
                        color: white;
                    }
                }

            }

            .popup-meta {
                font-size: 12px;
                margin-top: 8px;
                display: flex;
                gap: 10px;
                color: #ccc;
            }
        }
    }
}